@using ConstructionOfFacilities.Views
@model IEnumerable<ConstructionOfFacilities.Models.BuildingObject>

@{
    ViewData["Title"] = "Данные по объекту";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Scripts {
    <script src="https://api-maps.yandex.ru/2.1/?load=package.standard&lang=ru-RU" type="text/javascript"> </script>
    <script id="YandexMapScript" src="~/js/YandexMap.js" data-src="@ViewBag.Address" type="text/javascript"></script>
}

<h2>Отбор данных по фильтру "@ViewBag.Filter"</h2>
<hr />
<br>
<div id="map" style="width: 100%; height: 300px"></div>
<table class="DivTable" >
        <thead>
        <tr>
            <th></th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Responsible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionDate)
            </th>
            <th class="col-md-3">
                @Html.DisplayNameFor(model => model.Bids)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.Partner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfContract)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StageOfContract)
            </th>
        </tr>
        </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> <br>
                <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> <br>
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a> <br>
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsible)
            </td>
            <td class="middleParameters">
                @{
                    var number = ConvertFunctions.DecimalToStringConvertion(item.Amount);
                }
                @Html.DisplayFor(modelItem => number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Executor)
            </td>
            <td class="middleParameters">
                @{
                    var date = ConvertFunctions.DateToStringConvertion(item.AuctionDate);
                }
                @Html.DisplayFor(modelItem => date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner)
            </td>
            <td class="middleParameters">
                @{
                    number = ConvertFunctions.DecimalToStringConvertion(item.AmountOfContract);
                }
                @Html.DisplayFor(modelItem => number)
            </td>
            <td class="middleParameters">
                @{
                    date = ConvertFunctions.DateToStringConvertion(item.DateOfContract);
                }
                @Html.DisplayFor(modelItem => date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage)
            </td>
            <td class="middleParameters">
                @Html.DisplayFor(modelItem => item.StageOfContract)
            </td>
        </tr>
    }
    </tbody>
</table>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

